/* GENERAL STYLE RULES */

body {
    background-color: #fff;
    color: #2d3c49;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

a,
a:visited {
    color: #02b3e4;
    text-decoration: none;
}

a:active {
    background-color: #02b3e4;
    color: #fff;
}

a:focus,
a:hover {
    color: #2d3c49;
}

h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1;
}

figcaption {
    font-size: 1rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: #2d3c49;
}

.text-secondary {
    color: #7d97ad;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.hide {
    display: none;
}


/* WE LOVE ICON FONTS: BRANDICO */

span[class="brandico-github"]:before {
    font-family: 'brandico', sans-serif;
    font-size: 2em;
}


/* RESPONSIVE */

img,
embed,
object,
video {
    max-width: 100%;
}


/* HEADER */

header {
    margin-top: 1em;
}

.logo {
    height: 128px;
    transition: height 0.5s, width 0.5s;
    width: 100%;
}

.right {
    float: none;
}

.full-name {
    font-size: 2rem;
    line-height: 1;
    transition: font-size 0.2s;
}

.info {
    font-weight: 700;
    transition: font-size 0.2s;
}


/* THEMATIC BREAK */

hr {
    border: 0.1em solid #7d97ad;
    clear: right;
}


/* SECTION: MAIN */

.margin-2 {
    margin: 2em;
}


/* SECTION: FEATURED WORK */

section> .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    .logo {
        height: 64px;
        width: 64px;
    }
    .right {
        float: right;
    }
    .full-name {
        font-size: 2.2rem;
        margin: 0;
    }
    figcaption> a> span:first-child:before {
        display: none;
    }
    figcaption> a> span:last-child {
        display: inline;
        font-size: 1rem;
    }
}

@media screen and (min-width: 700px) {
    .flex-container> article {
        width: 33.33%;
    }
    figcaption> a> span:last-child {
        font-size: 0.75rem;
    }
    .full-name {
        font-size: 3rem;
        margin: 0;
    }
    p.info {
        font-size: 1.5rem;
    }
}
